<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/DELL/IdeaProjects/DataDrivenTesting2025">
        <classes>
            <class name="DataDriventesting15.DataDrivenTesting">
                <methods>
                    <include name="DDtest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>